---
services:
  salmonmd:
    image: ${IMAGE_REPO_HOST}/salmoncounter:${TAG}
    environment:
      - HOSTNAME
    env_file:
      - ./.env
    container_name: salmonmd
    network_mode: host
    privileged: true
    devices:
      - /dev:/dev
    volumes:
      - type: bind
        source: ${DRIVE}
        target: ${DRIVE}
        bind:
          propagation: rslave
      - /media/local_hdd:/media/local_hdd
      - /home/${USERNAME}/2024_test_vids:/app/2024_test_vids
    runtime: nvidia
    restart: always
    entrypoint: >
      bash -c "cd /tools && python3 /tools/training/tools/run_motion_detect_rtsp.py ${FLAGS} --fps ${FPS} '${RTSP_URL}' \"${DRIVE}\""

  salmonmd-log-analyzer:
    image: ${IMAGE_REPO_HOST}/salmoncounter:${TAG}
    container_name: salmonmd-log-analyzer
    network_mode: host
    volumes:
      - type: bind
        source: ${DRIVE}
        target: ${DRIVE}
        bind:
          propagation: rslave
      - /media/local_hdd:/media/local_hdd
    entrypoint: >
      bash -c "cd /tools && python3 utils/pi/services/analyze_salmonmd_logs.py --log-dir '${DRIVE}/${ORGID}/${SITE_NAME}/${DEVICE_ID}/logs/salmonmd_logs' --pattern '*salmonmd*' --output-csv '${DRIVE}/${ORGID}/${SITE_NAME}/${DEVICE_ID}/logs/outages.csv' --min-downtime-seconds 5; sleep 8h"
    restart: always
