---
services:
  salmonmd:
    image: ${IMAGE_REPO_HOST}/salmoncounter:${TAG}
    environment:
      - HOSTNAME
    env_file:
      - ./.env
    container_name: salmonmd
    network_mode: host
    privileged: true
    devices:
      - /dev:/dev
    volumes:
      - type: bind
        source: ${DRIVE}
        target: ${DRIVE}
        bind:
          propagation: rslave
      - /media/local_hdd:/media/local_hdd
      - /home/${USERNAME}/2024_test_vids:/app/2024_test_vids
    runtime: nvidia
    restart: always
    command: >
      bash -c "cd /tools && python3 /tools/training/tools/run_motion_detect_rtsp.py ${FLAGS} --fps ${FPS} '${RTSP_URL}' \"${DRIVE}\""
