[Unit]
Description=Mount USB Drive on %i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/root/automount.sh add %i
ExecStop=/root/automount.sh remove %i
