[Unit]
Description=Reverse SSH Tunnel to access Starlink network
After=network.target

[Service]
Type=simple
RestartSec=5
ExecStart=/usr/bin/ssh -nN \
    -o ServerAliveInterval=30 \
    -o ServerAliveCountMax=3 \
    -o ExitOnForwardFailure=yes \
    -o StrictHostKeyChecking=no \
    -o UserKnownHostsFile=/dev/null \
    -R 36000:localhost:22 tunnel@TPL_HOSTNAME -p 5830 -i /home/pi/.ssh/revtunnel_id_rsa
Restart=always

[Install]
WantedBy=multi-user.target
