[Unit]
Description=Camera Record service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
User=pi
Restart=always
RestartSec=10
ExecStart=/home/pi/salmon-computer-vision/utils/pi/cam.sh CoquitlamDam

[Install]
WantedBy=multi-user.target
