# /etc/systemd/system/multi-object-track.service
[Unit]
Description=RTSP Stream to KVS
After=docker.service
Requires=docker.service

[Service]
Environment=container=rtspkvs
Environment=rtsp_url='rtsp://192.168.1.199/av0_1'
Environment=stream_name=YourStreamName

Type=simple
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker stop $container /bin/sh -c "pkill -INT -f 'gst-launch-1.0'"
ExecStartPre=-/usr/bin/docker rm -f $container
ExecStart=/home/pi/salmon-computer-vision/utils/pi/docker-kvs-run.sh $container "$rtsp_url" $stream_name
ExecStop=-/usr/bin/docker exec -i $container /bin/sh -c "pkill -INT -f 'gst-launch-1.0'"

[Install]
WantedBy=multi-user.target
