# /etc/systemd/system/multi-object-track.service
[Unit]
Description=RTSP Stream to KVS
After=docker.service
Requires=docker.service

[Service]
Environment=container=rtspkvs

Type=simple
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker stop $container
ExecStartPre=-/usr/bin/docker rm -f $container
ExecStart=/home/pi/salmon-computer-vision/utils/pi/docker-kvs-run.sh $container
ExecStop=-/usr/bin/docker stop $container

[Install]
WantedBy=multi-user.target
