#Place in /etc/systemd/system
[Unit]
Description=Camera Detection service
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker stop jetson
ExecStartPre=-/usr/bin/docker rm -f jetson
ExecStart=/home/salmonjetson/salmon-computer-vision/utils/jetson/cam-service.sh jetson homesecurity
ExecStop=-/usr/bin/docker stop jetson

[Install]
WantedBy=multi-user.target
